.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background-color: black;
  
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  z-index: 1;
}

.nav > a   {
  padding: 10px;
}
.nav  > a:link, .nav >a:visited {
  color: lavender;
  text-decoration: none;
}
.nav  > a:hover, .nav  > a:active {
  color: white;
}
