@font-face {
    font-family: 'ralewaylight';
    src: url('./fonts/raleway-light-webfont.woff2') format('woff2'),
         url('./fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaymedium';
    src: url('./fonts/raleway-medium.woff') format('woff');         
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('./fonts/raleway-bold.woff') format('woff');         
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('./fonts/raleway-regular.woff') format('woff');         
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('./fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('./fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* for consistency when doing layout, this is needed */
html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* set custom fonts and flexbox layout for body */
 body {
  font-family: 'ralewayregular', arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding-bottom: 6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
